.s-sto-lin:not(.s-sto-on) {
  visibility: hidden;
}

.s-sto-lin.s-sto-on:not(.s-sto-sho){
  visibility: hidden;
}

.s-sto-lin:after,
.s-sto-lin:before {
  content: '';
  position: absolute;
  border: .5rem solid transparent;
}

.s-scr-bot:after,
.s-scr-bot:before {
  border-top: .5rem solid rgba(88, 88, 88, 0.5);
}

.s-scr-top:after,
.s-scr-top:before {
  border-bottom: .5rem solid rgba(88, 88, 88, 0.5);
}

.s-scr-bot:after {
  top: .5rem;
}

.s-scr-top:before {
  top: -.5rem;
}

.s-sto-wr {
  position: relative;
}

.s-sto-lin {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  overflow:hidden;
  background: rgba(255, 255, 255, 0.7);
  border:.5rem solid transparent;
  box-sizing: content-box;
  outline: 1px solid #ccc;
}

.s-sto-lin:visited, .s-sto-lin:active, .s-sto-lin:link{
  outline: 1px solid #ccc;
}

.s-sto-lin:hover {
  background: #fff;
  outline: 1px solid #999;
}

@keyframes sStoAdd {
  from {
    opacity: 0.99;
  }
  to {
    opacity: 1;
  }
}

.s-sto {
  animation-duration: 0.001s;
  animation-name: sStoAdd;
}
